body {
  font-family:'Permanent Marker', cursive;
  color: #702424;
  background-color: #ff6500;
}

h1 {
  text-align: center;
  padding: 2px;
  margin: 5px;
}

h1 > span {
  color: #DF3636;
}

h3 {
  text-align: center;
}

.container {
  margin-top: 2em;
}

.card {
  border-radius: 2em;
  padding-top: 2em
}

#pizza-form {
  text-align: center;
  margin: 3em;
  padding: 3em;
  background-color: #DF3636;
  color:black; 
  border-radius: 2em;
}
#size-form {
  text-align: center;
}
.size label {
  margin-right: 1em;
}

#results {
  display: none;
  padding-top: 1em;
}

